<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>hello</title>
    <base href="/collection" />
    <link rel="icon" href="favicon.ico" />
    <link type="text/css" rel="stylesheet" href="main.css" />
    <script type="module" src="usercollection.js"></script>
  </head>
  <body>
    <div class="topnav">
      <a href="../../index.html">Mint</a>
      <a class="active" href="usercollection.html">My Collection</a>
      <a href="../allnfts/allnfts.html">Discover All</a>
    </div>
    <main id="pageContent"></main>
    <button id="logout">log out</button>
  </body>
</html>
